{% extends 'layout/master.html'%}
{% load static from staticfiles %}


{% block content %}
         

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg'%});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Content</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Pages <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>



  <section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Recent</span> Pulished Content</h2>
              <p>We are committed to share our knowledge and experience. Also, we are trying to be as open as possible.</p>
          </div>
        </div>
				<div class="row">
        

          
            {% for post in pages%}
              <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
             
                    <div class="meta-date text-center p-2">
                        <span class="day">{{ post.created_at|date:"d" }}</span>
                        <span class="mos">{{ post.created_at|date:"M" }}</span>
                        <span class="yr">{{ post.created_at|date:"Y" }}</span>
                    </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="#">{{post.title|slice:'80'}}</a></h3>
                        <p>{{post.abstract|slice:'200'}}</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a href="/pages/{{post.slug}}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor%}

               </div>
          </div>
        </div>
    </section>





<div class="row ">
          <div class="col text-center">
            <div class="block-27">
  {% if pages.has_other_pages %}
  <ul>
    {% if pages.has_previous %}
      <li><a href="?page={{ pages.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in pages.paginator.page_range %}
      {% if pages.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pages.has_next %}
      <li><a href="?page={{ pages.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
        </div>
     </div>
</div>
    
		

{% endblock %}

            