{% extends 'layout/master.html'%}
{% load static from staticfiles %}


{% block content %}
            <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <!-- <h1 class="mb-2 bread">{{service.title|slice:'60'}}</h1> -->
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/posts">Our Services <i class="ion-ios-arrow-forward"></i></a></span> <span>{{service.title|slice:'60'}} <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
                </div>
            </div>
            </section>



        <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3">{{service.title}}</h2>
            {{service.content|safe}}

            </div>
    

          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
              <h3>Category</h3>
              <ul class="categories service_categories_div">

              </ul>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </section>
    

{% endblock %}

            