
         {% load static from staticfiles %}

         <style type="text/css">
           
    

          -moz-background-size: 100%; /* Gecko 1.9.2 (Firefox 3.6) */
          -o-background-size: 100%; /* Opera 9.5 */
          -webkit-background-size: 100%; /* Safari 3.0 */
          -khtml-background-size: 100%; /* Konqueror 3.5.4 */
          -moz-border-image: url(mtn.jpg) 0; /* Gecko 1.9.1 (Firefox 3.5) */
         </style>

    <!-- Carousel -->
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url({% static 'images/gdp.png'%});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate">
          	<span class="subheading">Welcome to DFI World</span>
            <h1 class="mb-4">We Are Building Best Data and FinTech Platform</h1>
            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url({% static 'images/billboard.png'%});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate">
          	<span class="subheading">Todays Talent, Tommorow Success</span>
            <h1 class="mb-4">We Help You to Make Alot Money</h1>
            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <!-- End Carousel -->
