         {% load static from staticfiles %}

<div class="bg-top navbar-light">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-center align-items-stretch">
    			<div class="col-md-4 d-flex align-items-center py-4">
    				<a class="navbar-brand" href="index.html">
					<img src="{% static 'images/logo.jpg'%}" style="width:80px" />
					</a>
    			</div>
	    		<div class="col-lg-8 d-block">
		    		<div class="row d-flex">
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					    	<div class="text">
					    		<span>Email</span>
						    	<span>info@dfi.af</span>
						    </div>
					    </div>
					    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
					    	<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <div class="text">
						    	<span>Call</span>
						    	<span>Call Us: + 93 794 0355 44</span>
						    </div>
					    </div>
					    <div class="col-md topper d-flex align-items-center justify-content-end">
					    	<p class="mb-0 d-block">
					    		<a href="/admin" class="btn py-2 px-3 btn-primary">
					    			<span>Login to System</span>
					    		</a>
					    	</p>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>



<!-- Navbar -->
    <nav id="main-nav">
      <!-- Sample menu definition -->
      <ul id="main-menu" class="sm sm-blue">
        <li><a href="/">Home</a></li>


        <li><a href="">About</a>
          <ul>
            <li><a href="">About DFI</a></li>
            <li><a href="">Structure</a></li>
            <li><a href="">Achievements</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Our Team</a>
              <ul>
                <li><a href="">About </a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Privacy policy</a></li>
              </ul>
            </li>
          </ul>
        </li>



        <li><a href="#">Visit Our Products</a>
          <ul>
            <li><a href="#" class="disabled">Data Warehouse Solution</a></li>


            <li><a href="#">Natural Language Processing (NLP)</a>
              <ul>

                <li><a href="#">Dari Language</a>
                  <ul>
                    <li><a href="#">Dari Text Normalizer</a></li>
                    <li><a href="#" >Dari Stopwords</a></li>
                    <li><a href="#">Sentemenal Analysis</a>
                       <ul>
                        <li><a href="#">Rule-based Approach</a></li>
                        <li><a href="#">Supervised Approach</a></li>
                        <li><a href="#">Deep Learning</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Automatic Dari Text Summarizer</a>
                      <ul>
                        <li><a href="#">Statistical Approach</a></li>
                        <li><a href="#">Supervised Approach</a></li>
                        <li><a href="#">Deep Learning</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Dari Plagiarism Detector</a></li>
                    <li><a href="#">Our Information Withdrawal </a></li>
                  </ul>
                </li>


                <li><a href="#">Pashto Language</a>
                  <ul>
                    <li><a href="#">Pashto Text Normalizer</a></li>
                    <li><a href="#">Pashto Stopwords</a></li>
                    <li><a href="#">Sentemenal Analysis</a>
                       <ul>
                        <li><a href="#">Rule-based Approach</a></li>
                        <li><a href="#">Supervised Approach</a></li>
                        <li><a href="#">Deep Learning</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Automatic Pashto Text Summarizer</a>
                      <ul>
                        <li><a href="#">Statistical Approach</a></li>
                        <li><a href="#">Supervised Approach</a></li>
                        <li><a href="#">Deep Learning</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pashto Plagiarism Detector</a></li>
                    <li><a href="#">Our Information Withdrawal </a></li>
                  </ul>
                </li>



                <li><a href="#">English Language</a>
                  <ul>
                    <li><a href="#">English Text Normalizer</a></li>
                    <li><a href="#">English Stopwords</a></li>
                    <li><a href="#">Sentemenal Analysis</a>
                       <ul>
                        <li><a href="#">Rule-based Approach</a></li>
                        <li><a href="#">Supervised Approach</a></li>
                        <li><a href="#">Deep Learning</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Automatic English Text Summarizer</a>
                      <ul>
                        <li><a href="#">Statistical Approach</a></li>
                        <li><a href="#">Supervised Approach</a></li>
                        <li><a href="#">Deep Learning</a></li>
                      </ul>
                    </li>
                    <li><a href="#">English Plagiarism Detector</a></li>
                    <li><a href="#">Our Information Withdrawal </a></li>
                  </ul>
                </li>
              </ul>
            </li>


            <li><a href="#">System Integration Solutions</a>
              <ul>
                <li><a href="#">Real-time Data Pipeline Integraion Platform <strong>dev</strong></a></li>
                <li><a href="#">Real-time API Integration Adapter</a></li>
              </ul>
            </li>

            <li><a href="#" class="">Data Warehouse Solution</a></li>


            <li><a href="#">Payment & Banking Solutions</a>
              <ul>
                <li><a href="#">Electronical Payment Solutions (EPay)</a>
                  <ul>
                    <li><a href="#">Mobile Payment</a></li>
                    <li><a href="#">Online Web Payment</a></li>
                    <li><a href="#">POS and EPOS</a></li>
                  </ul>
                </li>


                 <li><a href="#">Payment Integrations Solutions</a>
                  <ul>
                    <li><a href="#">ISO-8583 and REST API Integration Middleware</a></li>
                    <li><a href="#">ISO-8583 and SOAP Integration Middleware</a></li>
                    <li><a href="#">ISO8583 - ISO20022 Adapter </a></li>
                  </ul>
                </li>
     
              </ul>
            </li>


            

          </ul>
        </li>

        <!--Content Pages-->
        <li><a href="">Content</a>
          <ul class="page_categories_div">

          </ul>
        </li>


        <!--Blog posts-->
        <li><a href="">Blog</a>
          <ul class="post_categories_div">

          </ul>
        </li>


        <!--Blog posts-->
        <li><a href="">Products</a>
          <ul class="product_categories_div">

          </ul>
        </li>


                <!--Blog posts-->
        <li><a href="">Projects</a>
          <ul class="project_categories_div">

          </ul>
        </li>

       <!--Blog posts-->
        <li><a href="">Services</a>
          <ul class="service_categories_div">

          </ul>
        </li>


      </ul>
    </nav>

<!-- End Navbar -->
