	         {% load static from staticfiles %}

    <div class="container" style="margin-top:50px">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border ftco-animate">
							<div class="img" style="background-image: url({% static 'images/fintech3.jpg' %});"></div>
							<div class="text">
								<h3>Read About DFI </h3>
								<p>
									<strong>Data, FinTech, Infrastructrure: Context </strong>

									We are trying to provide best services and products for our customers. We truely believe that people deserve to have/use the best products and service, that is why, we have gethered knowledgeable, dedicated and experienced people in one place in order to build/deliver the bests.

								</p>

								<p>
									
									We are supplying governments, private companies, organization, banks, processors, merchants and other eco system players with the right technology to create relevant services for their customers.
								</p>
								<p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
          	      <h2 class="mb-4">What We do?</h2>
						<p>
							<strong>Data, FinTech, Infrastructrure: Context </strong>--- this is what and who we are about DFI. 

							Supplying governments, private companies, organization, banks, processors, merchants and other eco system players with the right technology to create relevant services for their customers.
						</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services active text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-collaboration"></span></div>
									<div class="text media-body">
										<h3>Data Science Solutions</h3>
										<p>We explore large datasets, build models and deploy across multiple platforms. We also test models.</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
									<div class="text media-body">
										<h3>Data Driven Solutions</h3>
										<p>
											We build highly scalable, reliable, sustainable, event-oriented and maintianable data-driven systems.  
										</p>
									</div>
								</div>
							</div>
							<div class="col -lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>
									<div class="text media-body">
										<h3>FinTech Solutions</h3>
										<p>
											
											 We have build financial solutions. We understand the business, and we understand the pains of the sector.
										</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-handshake"></span></div>
									<div class="text media-body">
										<h3>System Integration Solutions</h3>
										<p>
											We have designed and developed integration solution to be rubost and sustainable. 
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro ftco-no-pb img" style="background-image: url({% static 'images/population.png' %});">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-0">You Always Get the Best Products from us</h2>
          </div>
        </div>	
    	</div>
    </section>

    
