{% load static from staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>

    <title>DFI Official Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

     {% include 'layout/partials/head.html'%}
    </head>

    <body>

            {% include 'layout/partials/header.html'%}


            {% include 'layout/partials/our_feature.html'%}

            {% include 'layout/partials/services.html'%}


            {% include 'layout/partials/recent_projects.html'%}

            {% include 'layout/partials/recent_blogs.html'%}

            {% include 'layout/partials/footer.html'%}

            {% include 'layout/partials/scripts.html'%}
 

    </body>
</html>
