{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>

     {% include 'layout/partials/head.html'%}
    </head>

    <body id="page-top" dir="rtl">

            {% include 'layout/partials/navbar.html'%}

            {% block header %} {%endblock%}

            {% block portfolio %} {%endblock%}

             {% block about %} {%endblock%}

            {% block contact %} {%endblock%}

            {% block content %}{% endblock %}

            {% include 'layout/partials/footer.html'%}

            {% include 'layout/partials/scripts.html'%}
 

    </body>
</html>
